<div class="container">

  <div class="card">
    <div class="card-header text-center">
      <h4>Ficha C</h4>
    </div>
    <div class="card-body">
      <div class="list-group">
        <button type="button" data-bs-toggle="modal" data-bs-target="#detalhesTreinoModal" class="list-group-item list-group-item-success text-start">Triceps Teste Barra</button>
        <a href="#" class="list-group-item list-group-item-action">Triceps Barra Cross</a>
        <a href="#" class="list-group-item list-group-item-action">Triceps Unilateral Cross</a>
        <a href="#" class="list-group-item list-group-item-action">Rosca Maquina Unilateral</a>
        <a href="#" class="list-group-item list-group-item-action">Rosca Com Halter Sentado</a>
        <a href="#" class="list-group-item list-group-item-action">Abs Canivete</a>
        <a href="#" class="list-group-item list-group-item-action">Abs Infra Paralela</a>
      </div>
    </div>
    <div class="card-footer">
      <p class="card-text">Vencimento: 08/08/2024</p>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="detalhesTreinoModal" tabindex="-1" aria-labelledby="detalhesTreinoModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <div class="text-end">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="mt-2">
          <app-visualizar></app-visualizar>
        </div>
      </div>
    </div>
  </div>
</div>


<!--<app-cadastro></app-cadastro>-->
